.sup {
	vertical-align: super;
	font-size: smaller;
}

.emphasis {
	font-weight: 700;
}

.no-url-style {
	text-decoration: none;
	color: inherit;
}

.justified {
	text-align: justify;
}

.muted {
	color: rgba(0,0,0,0.3);
}